.imgban {
    transition: all ease .5sec;
    max-width: 100%;
    height: 400px;
    margin-bottom: 80px;
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 40px;

    .txtbanner {

        font-family: 'Nunito', sans-serif;

        h1 {
            font-weight: 600;

            @include screensize(laptop) {
                font-size: 34px;
            }
        }

        p {
            font-size: 20px;

            @include screensize(laptop) {
                font-size: 30px;
            }
        }

        .sitevalue {
            font-family: 'Nunito Sans', sans-serif;
            margin-bottom: 0;
        }

        a {
            background-color: #3C50E0;
            color: white;
            border-radius: 6px;
            text-decoration: none;

            &:hover {
                background-color: #00139A;
            }
        }

        text-align: center;
        position: absolute;
        top: 60%;
        left: 49%;
        transform: translate(-50%, -50%);
        color: black;

        @include screensize(laptop) {
            text-align: left;
            width: 50%;
            left: 30%;
        }
    }

}

.focusplace {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
    height: auto;

    @include screensize(prelaptop) {
        margin-top: 120px;
    }

    p {
        font-size: 15px;
        line-height: 1.1em;
        margin-bottom: .7em;
    }

    .imgguest {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .videosection {
        padding-top: 20px;
        text-align: center;

        p {
            color: #011737;
            font-weight: 300;
            font-size: 18px;
        }

        .guest {
            background-color: #011737;
            color: white;
            width: 90%;
            padding: 6px;

            @include screensize(tablet) {
                width: 70%;
            }

            h2 {
                color: white;
                margin-bottom: 3px;
            }

        }

        h2 {
            color: #011737;
            font-size: 25px;
        }

        .playbtn {
            background-color: #011737;
            color: white;

            &:hover {
                background-color: white;
                color: #011737;
                border: 1px solid #011737;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

}


.modal {
    .poddialog {
        max-width: 800px;
        margin: 30px auto;

        .podbody {
            position: relative;
            padding: 0px;

            .closevideo {
                position: absolute;
                right: -30px;
                top: 0;
                font-size: 2rem;
                color: #fff;
                opacity: 1;
            }
        }

    }
}

.svg24 {
    height: 24px;
    width: 24px;
    transition: transform .5s;

    &:hover {
        transform: translateX(10px);
    }

}

// transition: width 2s;
