.table-bordered .row {
    margin-left: 0px !important;
}
.mb0 {
    margin-bottom: 0rem !important;
}
::placeholder{
    color: #130f40 !important;
    opacity: 0.5 !important;
}
.titleCentre {
    padding: 6px 8px 6px 8px !important;
    border: 2px dashed #2c3e50ab;
    border-radius: 4px;
}