.overAllCentre {
    margin: 5rem 5rem 5rem 5rem;

}

.aboutdesc {
    background-color: #3C50E0;
    color: white;
    border-radius: 6px;

    @include screensize(tablet) {
        width: 90% !important;
    }
}
