


.aboutdiv{
    margin-top:0;
    margin-bottom: 30px;
    @include screensize(forcards){
        width: 100%;
       }
       @include screensize(foriphone6x){
        width: 98%;
       }
       @include screensize(prelaptop){
        width: 100%;
        padding-left: 82px;
       }
       @include screensize(laptop){
        width: 100%;
        padding-left: 2px;
       }
.imgdes{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}
h4{
    background-color: #96511f;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
}