
 .faqheader{
    text-align: center;
    background-image: linear-gradient(to right top, #011737, #002847, #003954, #004a5f, #005b67);
    color: white;
    padding-top: 220px;
    padding-bottom:25px;
    font-size: 30px;
}

.faqbody{
    margin-bottom: 50px;



    .faqQ{
        background: #f9fafa;
        font-family: "Roboto", sans-serif;
        &:hover{
            background: #ecf0f0;
        }


        .fa{
            font-size: 18px;
            font-weight: 900;
            transition: .3s transform ease-in-out;
        }
        .collapsed {
            .fa{
                transform: rotate(180deg);
            }
        }


        a{
            color: #3659a2;
            font-size: 18px;
            font-weight: 700;
        }
    }

    .card-body{
        color: #324353;
    }

}
