

main {
    padding-top: 70px;
    margin-bottom: 40px;
   
    .inscover{
         width: 100%;
         height: 230px;
         @include screensize(tablet){
            height: 280px;
          }
         @include screensize(laptop){
            height: 310px;
          }
    }
    .blankdiv{
        height: auto;
        width: 100%;
        position: relative;
        top: -70px;
        background-color: white;
        padding-top: 55px;
        padding-left: 10px;
        p{
          font-size: 12px;
          @include screensize(tablet){
            font-size: 16px;
          }
        }
        @include screensize(tablet){
            height: 130px;
          }
        @include screensize(laptop){
            height: 150px;
            padding-left: 60px;
            padding-top: 75px;
          }
        .insweb{
            background-color: #003585;
            color: white;
            width: 138px;
            padding-left: 15px;
            padding-right: 12px;
            &:hover{
                background-color: white;
                color: #011737;
                text-decoration: none;
                border: 1px solid #011737;
            }
        }
        .phemdiv{
            
            @include screensize(laptop){
               display: block;
             }
        }
        .btnshare{
         position: relative;
         top: 30px;
         left: 90%;
         font-size: 20px;
         @include screensize(laptop){
          top: -25px;
          left: 95%;
          font-size: 25px;
       }
        }
    }
    .logo-title{
        position: relative;
        top: -280px;
        margin-bottom: -120px;
        @include screensize(tablet){
            top: -290px;
            left: 10px;
         }
        @include screensize(laptop){
            top: -330px;
            left: -70px;
         }
        .logoinstitute{
            width: 70px;
            height: 80px;
            border: 1px solid gainsboro;
            transition: all ease .5s;
                 @include screensize(tablet){
                    width: 90px;
                    height: 90px;
                 }
                 
                 @include screensize(laptop){
                    width: 130px;
                    height: 130px;
                    margin-left: 120px !important;
                 }
              }
              .institle{
                font-size: 18px;
                margin-top: 45px;
                transition: all ease .5s;
                @include screensize(foriphone6x){
                    font-size: 20px;   
                   }
                @include screensize(forcards){
                    font-size: 25px;
                   }
                    @include screensize(tablet){
                        font-size: 30px;
                    }
                    
                       @include screensize(laptop){
                        font-size: 40px;
                        margin-top: 70px;
                       }
               }
    }

    .inssocial{
      position: relative;
      top:-175px;
      left:71%;
      z-index:1000;
      img{
        width:20px;
        height:20px;
      }
      @include screensize(tablet){
        top:-240px;
        left:85%;
        img{
          width:25px;
          height:25px;
        }
      }
    }
    

    .inspills{
              margin-top:-170px;
           @include screensize(tablet){
              margin-top:-200px;
            }
              .nav-pills{
                .nav-link{
                  color: #011737; 
                }
                .active{
                  background-color:#003585;
                  color:white;
                }
                
              }
             .inscarou{
                    width: 100%;
                    height: 180px;
                    margin-bottom: 80px;
               @include screensize(tablet){
                    margin-bottom: -190px;
                }
               @include screensize(laptop){
                    margin-bottom: 390px;
                }
                   li{
                    position: relative;
                    width: 8px;
                    height: 8px;
                    top: 30px;
                    border-radius: 100%;
                    background-color: black;
                     @include screensize(prelaptop){
                        top: 250px;
                     }
                }
                   img{
                    width: 100%;
                    height: 100%;
              }

            }

            .notice{
              background-color: white;
              align-items: center;
              margin-bottom: 13px;
              border: 1px;
              height:auto;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
              h5{
                font-weight: 400;
                color: #011737;
              }
              
              @include screensize(tablet){
                  font-size: x-large;
                }
              @include screensize(prelaptop){
                font-size: small;
              }
              @include screensize(laptop){
                  font-size: large;
                }
            }


            .facultyachieve{
         
              h3{
                background-color: #011737;
                color: white;
                padding: 7px;
                text-align: center;
              }
                 .facultyachievecard{
                     width: 200px;
                     height: 250px;
                  img{
                     width: 100%;
                     height: 170px;
                   }
                }
              }

              .description{
                h4{
                  text-align: center;
                  color: #011737;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                background-color: white;
                padding: 1rem;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                p{
                  //border-left: 10px solid #96e0b7;
                  
                  //border-left: 10px solid #ffcdb0;
                  border-left: 10px solid #ffbcb091;
                  padding-left: 10px;
                  
                }
                @include screensize(tablet){
                    font-size: x-large;
                  }
                @include screensize(prelaptop){
                    height:auto;
                    margin-left: auto;
                    margin-right: auto;
                  }
                  @include screensize(laptop){
                   font-size: large;
                  }
              }

              .princidiv{
                margin-top: 50px;
               
                img{
                  width: 50px;
                  height:50px;
                }
                .principalcard{
                  text-align: center;
                  color: #011737;
                  border: none;
                  p{
                    color:#011737;
                  }
                  img{
                    width: 100%;
                    height: 250px;
                    
                  }
                  .card-body{
                    background-color: rgb(249, 252, 255);
                  }
                }
              }

              .additionalinfo{
                h3{
                  color: #011737;
                }
                .insadditionalinfo{
                 
                 ul{
                    list-style: none;
                    line-height: 38px;
                    font-size: 18px;
                    text-align: center;
                    
                  }
                }
              }

              .facilitydiv{
                background-color: white;
                div{
                  font-size: 16px;
                  color: #011737;
                  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                 img{
                   width: 30px;
                   height: 30px;           
                 }
                }
                  
                
              }

  }
          
          
          .insaddress{
              h4{
                  text-align: center;
                  padding-top: .5rem;
                  padding-bottom: .5rem;
              }
              .addbody{
                  margin-top:-8px;
                  padding: 2rem;
                  font-size: large;
                  font-weight: 500;
                  border-left: 2px solid gainsboro;
                  border-right: 2px solid gainsboro;;
                  border-bottom: 2px solid gainsboro;;
                  @include screensize(tablet){
                    font-size: x-large;
               }
               @include screensize(laptop){
                font-size: large;
                }
                  ul{
                      line-height: 2rem;
                  }
              }
              @include screensize(foriphone6x){
                margin-top: 40px;
           }
              @include screensize(forcards){
                margin-top: 60px;
           }
              @include screensize(tablet){
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 350px;
           }
           @include screensize(prelaptop){
            margin-top: 590px;
       }
           @include screensize(laptop){
            margin-top: 0px;
       }
          }
         
          // css for institute verification page starts here
          .btnveri{
            background-color:#011737;
            width:100%;
            color:white;
            padding:10px;
            font-weight:700;
          @include screensize(laptop){
            font-weight:300;
            padding:7px;
          }
          &:hover{
            color:white;
          }
          }
        //css for institute verification page ends here

          //css for institute dashboard starts
          .datetime{
            background-color: #011737;
            text-align: center;
            @include screensize(laptop){
              width: 300px;
            }
          }
          .quote{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            text-align: center;
          }
          //css for institute dashboard ends here

          //css for institute edit channel starts here
          .infraheader{
            text-align: center;
            background-color:#011737;
            color:white;
          }
          .infrabtn{
            margin-left:-15px;
            background-color: #011737;
            color: white;
            &:hover{
              color: white;
            }
            @include screensize(laptop){
              margin-left:0px;
            }
            @include screensize(forinsinfra){
              margin-left:60px;
            }
          }
          //css for institute edit channel ends here

          //css for board and standard and social starts here
          .btnsubmit{
            background-color: #011737;
            color: white;
            position: relative;
            top: 5px;
            left: 0;
            border-radius: 15px;
            padding-left: 10px;
            padding-right:10px;
            
            &:hover{
              background-color: #003585;
              color: white;
            }
          }
          //css for board and standard and social ends here
          //css for website and description starts here
          .btnwebdes{
            color: white;
            background-color: #003585;
            &:hover{
              color: white;
            }
          }
          //css for website and description ends here
          
          //css for profile starts here
          .btnadd{
            background-color: #003585;
            color: white;
            &:hover{
              color: white;
            }
          }

          .gendercard{
            width: 80px;
            height: 40px;
            border: 0;
            border-radius: 20px;
            float: right;
            margin-top: -5px;
            background-color: #d30383;
            color: white;
            .card-body{
              margin-top:-15px;
            }
          }
          .visioncard{
            width: 90%;
            border: 0;
            height: auto;
          }

          .profiledetails{
            border: 0;
            border-radius: 15px;
            height: auto;
            .card-body{
              font-size: 18px;
            }
            @include screensize(tablet){
              height: 50px;
            }
          }
          //css for profile ends here
           
  }

