
nav{
    max-width: 100%;
    background-color: white;
    .navbar-toggler{
        &:focus{
            outline: 0;
        }
    }
    .imglogodash{
        width:110px; 
        height: auto;
        margin-left: -12%;
        transition: all ease .5s;
        @include screensize(tablet){
          width: 115px;
          height: auto;
       }
       @include screensize(laptop){
        margin: 5px;
        width: 150px;
     }
      
     @include screensize(desktop){
        margin: 7px;
        width: 120px;
     }
    }
    ul{
        li{
            .accounticon{
                font-size: 20px;
                color: #96511f;
                padding: 7px;
                @include screensize(tablet){
                    font-size: 23px;
                    padding: 15px;
                 }
            }
        }

    }
}
.border-gradient {
    border-bottom: 4px solid; 
    border-image-slice: 1;
  }
  .border-gradient-color {
    border-image-source: linear-gradient(to right, #990066,  #f1aa00);
  }

.popnav{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: -26px;
    margin-right: -26px;
    text-align: left;
    li{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    list-style-type: none;
    &:hover{
        background-color: #96511f;
    }

        a{
            color: black;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            &:hover{
                text-decoration: none;
                color: white;
            }
        }
    }
}
.linklog{
    text-align: left;
    margin-left: -13px;
    margin-right: -13px;
    padding-left: 25px;
    a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-size: 18px;
        &:hover{
            text-decoration: none;
            color: white;
        }
    }
    &:hover{
        background-color: #96511f;
    }

}