main{
  padding-top: 70px;
  margin-bottom: 40px;
    .inscover{
      width: 100%;
      height: 230px;
      @include screensize(tablet){
         height: 280px;
       }
      @include screensize(laptop){
         height: 310px;
       }
 }
 .blankdiv{
     height: auto;
     width: 100%;
     position: relative;
     background-color: #f9fafa;
     padding-top: 55px;
     padding-left: 10px;
     padding-bottom: 95px;
     p{
       font-size: 15px;
       @include screensize(tablet){
         font-size: 16px;
       }
       @include screensize(laptop){
        font-size: 18px;
      }
     }
     @include screensize(tablet){
         height: 130px;
       }
     @include screensize(laptop){
         height: 150px;
         padding-left: 60px;
         padding-top: 140px;
       }
       @include screensize(desktop){
        padding-top: 90px;
      }
       .insweb{
        background-color: #003585;
        color: white;
        font-size: 14px;
        width: 110px;
        margin-left: -20px;
        
         @include screensize(tablet){
          width: 130px;
          font-size: 16px;
         }
         @include screensize(laptop){
          width: 157px;
          font-size: 18px;
          margin-left:-58px;
         }
         @include screensize(desktop){
          margin-left:-25px;
         }
       }
     .insweb-available{
       img{
         width: 15px;
         height: 15px;
       }
         &:hover{
           text-decoration: none;
           
         }
     }
     .phemdiv{
         font-size: 20px;
         @include screensize(laptop){
            display: block;
          }
     }
    /* .btnshare{
      position: relative;
      top: 30px;
      left: 90%;
      font-size: 18px;
      font-weight: normal;
      @include screensize(laptop){
       top: -25px;
       left: 95%;
       font-size: 20px;
       font-weight: 100;
    }
     }*/
 }
 .logo-title{
     position: relative;
     top: -134px;
     left: -5px;
     margin-bottom: -120px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     @include screensize(iphone5above){
       top: -129px;
     }
     @include screensize(tablet){
         top: -139px;
      }
     @include screensize(laptop){
         top: -248px;
         left: -130px;
      }
      @include screensize(desktop){
        top:-194px;
        left: -131px;
     }
     .logoinstitute{
         width: 85px;
         height: 90px;
         border: 1px solid gainsboro;
         transition: all ease .5s;
              @include screensize(tablet){
                 width: 90px;
                 height: 90px;
              }
              
              @include screensize(laptop){
                 width: 140px;
                 height: 140px;
                 margin-left: 120px !important;
              }
           }
           .institle{
             font-size: 17px;
             margin-top: 50px;
             transition: all ease .5s;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
             @include screensize(iphone5above){
              font-size: 20px;
              margin-top: 45px;
             }
             @include screensize(tablet){
              font-size: 21px;
          }
            @include screensize(laptop){
            font-size: 32px;
            margin-top: 73px;
           }
           @include screensize(desktop){
            font-size: 34px;
           }
             
            }
 }

 .inssocial{
   position: relative;
   top:-70px;
   left:63%;
   font-size: 15px;
   width:115px;
   overflow-x: hidden;
   img{
     width:20px;
     height:20px;
   }
   @include screensize(iphone5above){
     left: 65%;
   }
   @include screensize(tablet){
     top:-66px;
     left:75%;
     img{
       width:25px;
       height:25px;
     }
   }
   @include screensize(laptop){
    top:-133px;
    left:74%;
    font-size: 18px;
    width: 160px;
  }
  @include screensize(desktop){
    top:-127px;
    left:82%;
  }
 }
 
.faculty-request{
  position: relative;
  top:-123px;
  padding-left: 61%;
  @include screensize(iphone5above){
    padding-left: 65%;
  }
  @include screensize(tablet){
    padding-left: 74%;
  }
 @include screensize(laptop){
  top:-167px;
  padding-left: 2%;
}
@include screensize(desktop){
  top:-83px;
  padding-left: 4%;
}

  img{
    width: 16px;
    height: 16px;
  }
}



 .inspills{
           margin-top:-75px;
        @include screensize(tablet){
           margin-top:-80px;
         }
         @include screensize(laptop){
          margin-top:-85px;
        }
           .nav-pills{

             .nav-link{
               color: #011737; 
             }
             .active{
               background-color:#003585;
               color:white;
             }
             
           }

         .inscarou{
                 width: 100%;
                 height: auto;
                 margin-top:30px;
                 ul{
                  position: relative;
                  top:60px;
                  @include screensize(laptop){
                    top: 180px;
                  }
                li{
                 width: 8px;
                 height: 8px;
                 border-radius: 100%;
                 background-color: black;
                  @include screensize(laptop){
                     top: 10px;
                  }
             }
            }
             @include screensize(laptop){
              margin-bottom: 180px;
           }
             img{
                 width: 100%;
                 height: 200px;
                 @include screensize(laptop){
                  height: 400px;
               }
           }
         }

         .notice{
           background-color: #f5f9ff;
           align-items: center;
           margin-bottom: 13px;
           height:auto;
           width: 100%;
           h5{
             font-weight: 400;
             color: #003585;
           }
           hr{
             border-bottom: 2px solid rgb(219, 55, 55);
           }
           p{
             color: black;
             &::before{
              background-image: url('/images/arrow.svg');
              background-size: 10px 20px;
              display: inline-block;
              width: 10px; 
              height: 15px;
              content:"";
            }
           }
         }


         .facultyachieve{ 
           
              .facultyachievecard{
                  width: 200px;
                  height: 250px;
               img{
                  width: 100%;
                  height: 170px;
                }
             }
           }

           .description{
             
             padding: 1rem;
             margin-left: auto;
             margin-right: auto;
             width: 100%;
             p{
               border-left: 10px solid #96e0b7;
               padding-left: 10px;
               color: #011737;
             }
           }

           h2{
            color: #003585;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
             font-size: 18px;
            @include screensize(tablet){
              font-size: 32px;
            }
          }

           .princidiv{
             margin-top: 50px;
             
              h3{
                color: #003585;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                @include screensize(tablet){
                  font-size: 24px;
                }
              }
             
             img{
               width: 24px;
               height:24px;
               @include screensize(tablet){
                
                height:30px;
               }
             }
             .principalcard{
               text-align: center;
               color: #011737;
               border: none;
               p{
                 color:#011737;
               }
               img{
                 width: 100%;
                 height: 250px;
                 
               }
             }

             h6{
               color:#003585;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
             }
           }

          
             .insadditionalinfo{
              p{
                font-size: 18px;
              }
              img{
                width: 18px;
                height: 18px;
              }
             }
        

           .facilitydiv{
             p{
               font-size: 16px;
               color: #011737;
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              img{
                width: 16px;
                height: 16px;           
              }
             }
               
             
           }

}
}