
.institute{
    text-align: center;
    background-color: #f9fafa;
    @include screensize(laptop){
        margin-top: 30px;
       }

    .institutecard{
       width: 165px;
       height: auto;
       align-items: center;
       margin-bottom: 55px;
       transition: all ease .5s;
       border: 1px;
           &:hover{
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;  
          }
           @include screensize(laptop){
          width: 260px;
          height: auto;
          }
           .card-body{
                 padding-left: 0;
                 padding-right: 0;
                 padding-top: 10px;
                 .inslogo{
                     width: 60%;
                     height: auto;
                     border: 2px solid gainsboro;
                     position: relative;
                     top:-50px;
                     @include screensize(tablet){
                         width: 45%;
                         height: auto;
                  }
        }
        
        h4{
            font-size: 16px;
            color: #003585;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           @include screensize(tablet){
               font-size: 20px;
           }
        }
        .district-name{
            font-size: 13px;
            margin-bottom: 2px;
               @include screensize(tablet){
                   font-weight: 500;
               }
        }
      }
       .destext{
            display: block;
            height: 100px;
            margin-bottom: 20px;  
            color: grey;
            text-overflow: ellipsis;
       }

    }

    .btnvisit{
         font-size: small;
         margin-bottom: 15px;
         font-weight: 700;
       //gradient design below
       background-image: linear-gradient(45deg, #990066, #003585);   
       background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;       
    }
}
