

main {
    padding-top: 70px;
    margin-bottom: 40px;
   
    .inscover{
         width: 100%;
         height: 230px;
         @include screensize(tablet){
            height: 280px;
          }
         @include screensize(laptop){
            height: 310px;
          }
    }
    .blankdiv{
        height: auto;
        width: 100%;
        position: relative;
        top: -70px;
        background-color: #f5f9ff;
        padding-top: 55px;
        padding-left: 10px;
        p{
          font-size: 12px;
          @include screensize(tablet){
            font-size: 16px;
          }
        }
        @include screensize(tablet){
            height: 130px;
          }
        @include screensize(laptop){
            height: 150px;
            padding-left: 60px;
            padding-top: 75px;
          }
        .insweb{
            background-color: #003585;
            color: white;
            width: 138px;
            padding-left: 15px;
            padding-right: 12px;
            &:hover{
                background-color: white;
                color: #011737;
                text-decoration: none;
                border: 1px solid #011737;
            }
        }
        .phemdiv{
            
            @include screensize(laptop){
               display: block;
             }
        }
    }
    .logo-title{
        position: relative;
        top: -280px;
        margin-bottom: -120px;
        @include screensize(tablet){
            top: -290px;
            left: 10px;
         }
        @include screensize(laptop){
            top: -330px;
            left: -70px;
         }
        .logoinstitute{
            width: 70px;
            height: 80px;
            border: 1px solid gainsboro;
            transition: all ease .5s;
                 @include screensize(tablet){
                    width: 90px;
                    height: 90px;
                 }
                 
                 @include screensize(laptop){
                    width: 130px;
                    height: 130px;
                    margin-left: 120px !important;
                 }
              }
              .institle{
                font-size: 18px;
                margin-top: 45px;
                transition: all ease .5s;
                @include screensize(foriphone6x){
                    font-size: 20px;   
                   }
                @include screensize(forcards){
                    font-size: 25px;
                   }
                    @include screensize(tablet){
                        font-size: 30px;
                    }
                    
                       @include screensize(laptop){
                        font-size: 40px;
                        margin-top: 70px;
                       }
               }
    }

    .inssocial{
      position: relative;
      top:-175px;
      left:71%;
      z-index:1000;
      img{
        width:20px;
        height:20px;
      }
      @include screensize(tablet){
        top:-240px;
        left:85%;
        img{
          width:25px;
          height:25px;
        }
      }
    }
    

    .inspills{
              margin-top:-112px;
           @include screensize(tablet){
              margin-top:-130px;
            }
            @include screensize(laptop){
              margin-top:-140px;
            }
              .nav-pills{
                .nav-link{
                  color: #011737; 
                }
                .active{
                  background-color:#003585;
                  color:white;
                }
                
              }

    .inscarou{
                    width: 100%;
                    height: auto;
                    
                li{
                    position: relative;
                    width: 8px;
                    height: 8px;
                    top: 30px;
                    border-radius: 100%;
                    background-color: black;
                     @include screensize(laptop){
                        top: 10px;
                     }
                }
                @include screensize(laptop){
                  margin-bottom: 180px;
               }
                   img{
                    width: 100%;
                    height: 200px;
                    @include screensize(laptop){
                      height: 400px;
                   }
              }

            }

            .notice{
              background-color: #f5f9ff;
              align-items: center;
              margin-bottom: 13px;
              height:auto;
              width: 100%;
              h5{
                font-weight: 400;
                color: #003585;
              }
              hr{
                border-bottom: 2px solid rgb(219, 55, 55);
              }
              p{
                color: black;
              }
            }


            .facultyachieve{
        
                 .facultyachievecard{
                     width: 200px;
                     height: 250px;
                  img{
                     width: 100%;
                     height: 170px;
                   }
                }
              }

              .description{
                padding: 1rem;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                p{
                  border-left: 10px solid #96e0b7;
                  color: #011737;
                  padding-left: 10px;
                  
                }
              }

              h2{
                color: #003585;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                 font-size: 18px;
                @include screensize(tablet){
                  font-size: 32px;
                }
              }

              .princidiv{
                margin-top: 50px;
               
                h3{
                  color: #003585;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  font-size: 18px;
                  @include screensize(tablet){
                    font-size: 24px;
                  }
                }
                img{
                  width: 24px;
                  height:24px;
                  @include screensize(tablet){
                
                    height:30px;
                   }
                }
                .principalcard{
                  text-align: center;
                  color: #011737;
                  border: none;
                  p{
                    color:#011737;
                  }
                  img{
                    width: 100%;
                    height: 250px;
                    
                  }
                }
                h6{
                  color:#003585;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
              }

                .insadditionalinfo{
                  p{
                    font-size: 18px;
                  }
                  img{
                    width: 18px;
                    height: 18px;
                  }
                }
      

              .facilitydiv{
                p{
                  font-size: 16px;
                  color: #011737;
                  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                 img{
                   width: 16px;
                   height: 16px;           
                 }
                }
                  
                
              }

  }
          
         
          // css for institute verification page starts here
          .btnveri{
            background-color:#011737;
            width:100%;
            color:white;
            padding:10px;
            font-weight:700;
          @include screensize(laptop){
            font-weight:300;
            padding:7px;
          }
          &:hover{
            color:white;
          }
          }
        //css for institute verification page ends here

          //css for institute dashboard starts
          .datetime{
            background-color: #011737;
            text-align: center;
            @include screensize(laptop){
              width: 300px;
            }
          }
          .quote{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            text-align: center;
          }
          //css for institute dashboard ends here

          //css for institute edit channel starts here
          .infraheader{
            text-align: center;
            background-color:#011737;
            color:white;
          }
          .infrabtn{
            margin-left:-15px;
            background-color: #011737;
            color: white;
            &:hover{
              color: white;
            }
            @include screensize(laptop){
              margin-left:0px;
            }
            @include screensize(forinsinfra){
              margin-left:60px;
            }
          }
          //css for institute edit channel ends here

          //css for board and standard and social starts here
          .btnsubmit{
            background-color: #011737;
            color: white;
            position: relative;
            top: 5px;
            left: 0;
            border-radius: 20px;
            padding-left: 15px;
            padding-right:15px;
            
            &:hover{
              background-color: #003585;
              color: white;
            }
          }
          //css for board and standard and social ends here
          
          //css for website and description starts here
          .btnwebdes{
            color: white;
            background-color: #003585;
            &:hover{
              color: white;
            }
          }
          //css for website and description ends here
          
          //css for profile starts here
        
            .btnadd{
              background-color: #003585;
              color: white;
              &:hover{
                color: white;
              }
              &:focus{
                box-shadow: none;
              }
            }
  
            .gendercard{
              width: 80px;
              height: 40px;
              border: 0;
              border-radius: 20px;
              float: right;
              margin-top: -5px;
              background-color: #d30383;
              color: white;
              .card-body{
                margin-top:-15px;
              }
            }
            .visioncard{
              width: 90%;
              border: 0;
              height: auto;
            }
  
            .profiledetails{
              border: 0;
              border-radius: 15px;
              height: auto;
              .card-body{
                font-size: 18px;
              }
              @include screensize(tablet){
                height: 50px;
              }
            }
          //css for profile ends here
          
          //css for achievement and teacher in sidebar starts here
          .sidebar-facard{
            width: 200px;
            height: 250px;
            .card-text{
              margin-top: 5px;
              line-height: .9rem;
            }
         img{
            width: 100%;
            height: 170px;
          }
       }

       .editachieve{
         position:relative;
         top:-80px;
         left: 80px;
         color:rgb(111, 182, 4);
         &:focus{
          box-shadow: none;
         }
        
       }
          //css for achievement and teacher ends here  

          .body-channelprofile{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
              &::placeholder{
              color:gainsboro;
            }
            h4{
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
          }


          .profile{
            max-width: 100%;

            .princi-name{
              background-color: #cce0fd;
              color: black;
            }
            
            .princi-profile-picture{
              
                border: 2px solid gainsboro;
            }
            img{
                width: 170px;
                height: 170px;
                @include screensize(laptop){
                width: 200px;
                height: 200px;
                }
            }
        //}
        .princi-profile-edit{
           position:relative;
           left:-16%;
           top:53px;
           z-index: inherit;
           cursor: pointer;
           background-color:gainsboro;
           @include screensize(tablet){
            left:-11%;
            top: 55px;
           }
        
           @include screensize(laptop){
            left:-7%;
            top:70px;
            }
            @include screensize(desktop){
              left:-6%;
              }
        }
        
        .upload-profile-pic{
            position:relative;
            top:-153px;
        }
        .edit-btn{
            color: rgb(111, 182, 4);
        }
        //scss for username in profile section starts here
        
        
        
        .btnsubmit{
            background-color:  #003585;
            color: white;
            position: relative;
            top: 5px;
            left: 0;
            border-radius: 20px;
            padding-left: 20px;
            padding-right:20px;
            
            &:hover{
              background-color: #011737;
              color: white;
            }
          }
        
          .pricipal-modal{
            
            h5{
              color: #003585;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            h6{
              color: #003585;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
          }

          .princi-profile-display{
            .mission-message-display{
              background-color: #f9fafa;
            }
          }
        } 
        
        .teacher-section{
          color: #003585;
          h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          h5{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
        }

        .notification-section{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          h3{
            color: #003585;
          }
          .add-notifications{
            background-color: #003585;
            color: white;
          }
          label{
            color:#003585;
          }
          .btn-publish{
            background-color: #990066;
            color: white;
          }
          input{
            &::placeholder{
              color: rgb(139, 139, 139);
            }
          }
          ul{
            list-style: none;
            li{
              &::before{
                content: "\2B9A";
                font-size: larger;
                color: #003585;
              }
            }
          }
        }
           
  }

