.profileheader{
    background-image: linear-gradient(to right top, #011737, #002847, #003954, #004a5f, #005b67);
    font-size: 30px;
    padding-top: 220px;
    padding-bottom:25px;
    text-align: center;
    color: white;
}