.imgbanabout {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/aboutus-header-m.jpg");
}

@media only screen and (min-width: 481px) {
  .imgbanabout {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/aboutus-header-t.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .imgbanabout {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/aboutus-header-l.jpg");
  }
}

@media only screen and (min-width: 1280px) {
  .imgbanabout {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/aboutus-header-d.jpg");
  }
}

.about-story h6 {
  font-size: 12px;
  color: #3659a2;
}

@media only screen and (min-width: 768px) {
  .about-mission .text-mission {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-mission .text-mission {
    padding-left: 118px;
  }
}

.about-mission .imgmission {
  width: 100%;
  -webkit-clip-path: ellipse(81% 62% at 91% 62%);
          clip-path: ellipse(81% 62% at 91% 62%);
}

.about-how {
  max-width: 100%;
}

@media only screen and (min-width: 360px) {
  .about-how {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .about-how .text-how {
    padding-right: 70px;
    text-align: right;
  }
}

@media only screen and (min-width: 1280px) {
  .about-how .text-how {
    padding-right: 140px;
    text-align: right;
  }
}

