nav {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 750px) {
  nav #collapsibleNavbar {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10px;
    z-index: 99;
    width: 230px;
    height: 100%;
    background-color: #2e2e2e;
    overflow: auto;
  }
}

nav #collapsibleNavbar .closemenu {
  color: white;
  position: relative;
  right: 15px;
  font-size: 30px;
}

@media only screen and (min-width: 765px) {
  nav #collapsibleNavbar .closemenu {
    display: none;
  }
}

nav a .imglogo {
  width: 68px;
  height: auto;
  margin-top: -9px;
  margin-bottom: -9px;
  margin-left: -5px;
  transition: all ease 0.5s;
}

@media only screen and (min-width: 481px) {
  nav a .imglogo {
    width: 70px;
    height: auto;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 768px) {
  nav a .imglogo {
    width: 75px;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

@media only screen and (min-width: 1280px) {
  nav a .imglogo {
    width: 90px;
    height: auto;
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

nav .colbtn {
  color: white;
}

@media only screen and (min-width: 481px) {
  nav .colbtn {
    font-size: 25px;
  }
}

nav ul a {
  font-size: large;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav ul a:hover {
  color: black;
}

@media only screen and (min-width: 765px) {
  nav ul a {
    color: white;
  }

  nav ul a:hover {
    color: white;
  }
}

nav .navbtn {
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: #011737;
}

@media only screen and (min-width: 1000px) {
  nav .navbtn {
    margin-top: 0px;
  }
}

nav .navbtn:hover {
  color: white;
  background-color: #011737;
}

.shrink {
  background-color: white;
  transition: all ease-in 0.5s;
}

.shrink a {
  color: black;
}

.shrink a:hover {
  color: black;
}

@media only screen and (min-width: 481px) {
  .shrink a .imglogo {
    width: 60px !important;
    margin-top: -16px !important;
    padding-bottom: -13px !important;
    padding-top: 5px !important;
  }
}

@media only screen and (min-width: 768px) {
  .shrink a .imglogo {
    width: 65px !important;
    margin-top: -12px !important;
    padding-bottom: -16px !important;
    padding-top: 5px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .shrink a .imglogo {
    width: 70px !important;
    margin-top: -10px !important;
    padding-bottom: -13px !important;
    padding-top: 5px !important;
  }
}

.shrink .navbtn {
  margin-top: 20px;
  background-color: #011737;
  color: white;
}

@media only screen and (min-width: 1000px) {
  .shrink .navbtn {
    margin-top: 0px;
  }
}

.shrink .navbtn:hover {
  color: white;
  background-color: #011737;
}

.shrink .colbtn {
  color: #011737;
}

@media only screen and (max-width: 750px) {
  .shrink #collapsibleNavbar {
    background-color: white;
  }
}

.shrink #collapsibleNavbar .closemenu {
  color: #011737;
}

.regBen {
  background-image: linear-gradient(to top, #011737, #00385e, #005d84, #0084a8, #02aec8);
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
}

@media only screen and (min-width: 768px) {
  .regBen {
    margin-left: 0;
    margin-right: 0;
  }
}

.regBen .regformlogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.regBen p {
  color: white;
  text-align: left;
}

.regBen .haveanaccount {
  color: black;
  font-weight: 700;
  background-color: white;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  position: absolute;
  left: 16px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .regBen .haveanaccount {
    display: block;
  }
}

.regBen .haveanaccount:hover {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.regBen .smallclose {
  color: white;
}

@media only screen and (min-width: 768px) {
  .regBen .smallclose {
    display: none;
  }
}

.signup {
  margin-top: 30px;
  margin-bottom: 80px;
}

.signup .regheader {
  text-align: center;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.signup .regheader .fbsignup {
  background-color: #011737;
  color: white;
  padding: 7px;
  text-decoration: none;
}

.signup .regheader .fbsignup:hover {
  background-color: #014270;
}

.signup p {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .signup .haveaccount {
    display: none;
  }
}

.bigclose {
  display: none;
}

@media only screen and (min-width: 768px) {
  .bigclose {
    display: block;
    color: #011737;
  }
}

.iplognsign {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btnlognsign {
  width: 100%;
  color: white;
  background-color: #011737;
  padding-left: 45px;
  padding-right: 45px;
}

.btnlognsign:hover {
  background-color: #014270;
  color: white;
}

.login {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .login {
    margin-top: 100px;
    margin-bottom: 130px;
  }
}

.login .logheader {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login .newuser {
  text-decoration: none;
}

.footclass {
  text-align: center;
  background-image: linear-gradient(to right top, #011737, #002847, #003954, #004a5f, #005b67);
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.footclass a {
  color: white;
}

.footclass .listsocial {
  list-style: none;
}

.footclass .listsocial a {
  text-decoration: none;
  font-size: 25px !important;
}

.footclass .flexw {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20em;
}

@media only screen and (min-width: 360px) {
  .footclass .flexw {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 411px) {
  .footclass .flexw {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 375px) {
  .footclass .flexw {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 414px) {
  .footclass .flexw {
    margin-left: 45px;
  }
}

.footclass .flexw h5 {
  font-size: 20px;
}

@media only screen and (min-width: 481px) {
  .footclass .flexw h5 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 360px) {
  .footclass .flexw p {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footclass .flexw a {
  font-size: 20px;
}

.footclass .flexw ul {
  list-style-type: none;
  margin-left: -50px;
  margin-top: -10px;
}

.footclass .flexw ul li {
  font-size: 20px;
}

.footclass hr {
  border-bottom: 3px solid white;
}

.footclass .comp {
  margin-top: -15px;
}

