.imgbancontact {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/contact-header-m.jpg");
}

@media only screen and (min-width: 481px) {
  .imgbancontact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/contact-header-t.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .imgbancontact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/contact-header-l.jpg");
  }
}

@media only screen and (min-width: 1280px) {
  .imgbancontact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/contact-header-d.jpg");
  }
}

.contactheader {
  margin-top: 50px;
  color: #3659a2;
  background-color: #f9fafa;
  font-family: 'Nunito Sans', sans-serif;
}

.contactform .contactadd {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.contactform .contactadd h6 img {
  width: 25px;
  height: 25px;
}

.contactform .contactadd .contact-line {
  color: #3659a2;
}

@media only screen and (min-width: 481px) {
  .contactform .contactadd {
    padding-top: 60px;
  }
}

.contactform h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.contactform .contact-query {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
  background-image: linear-gradient(to right top, #990066, #831874, #67267f, #442f85, #003585);
}

@media only screen and (min-width: 1280px) {
  .contactform .contact-query {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
    padding-left: 100px !important;
  }
}

.contactform .contact-query input {
  background-color: #f9fafa;
  border-radius: 25px;
}

.contactform .contact-query textarea {
  background-color: #f9fafa;
}

.contactform .contact-query label {
  color: white;
}

.contactform .contact-query h2 {
  color: white;
}

.contactform .contact-query .btncontact {
  color: white;
  background-color: #442f85;
}

.contactform .contact-query .btncontact:hover {
  background-color: #67267f;
}

