.errorbody {
  margin-top: 114px;
}

.errorbody p {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100 !important;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 481px) {
  .errorbody p {
    font-size: 140px;
  }
}

@media only screen and (min-width: 768px) {
  .errorbody p {
    font-size: 222px;
  }
}

.errorbody .desc {
  font-size: 25px;
  font-weight: 500;
  font-family: "Montserrat";
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: -30px;
}

@media only screen and (min-width: 481px) {
  .errorbody .desc {
    top: -70px;
    width: 340px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .errorbody .desc {
    top: -150px;
    width: 490px;
    font-size: 30px;
  }
}

.errorbody .homepagelink {
  background-color: #003585;
  color: white;
  padding: 15px;
  position: relative;
  top: -20px;
}

@media only screen and (min-width: 768px) {
  .errorbody .homepagelink {
    top: -90px;
  }
}

.errorbody .homepagelink:hover {
  background-color: white;
  color: #003585;
  text-decoration: none;
  border: 1px solid #003585;
  padding: 10px;
}

