.faqheader {
  text-align: center;
  background-image: linear-gradient(to right top, #011737, #002847, #003954, #004a5f, #005b67);
  color: white;
  padding-top: 220px;
  padding-bottom: 25px;
  font-size: 30px;
}

.faqbody {
  margin-bottom: 50px;
}

.faqbody .faqQ {
  background: #f9fafa;
  font-family: "Roboto", sans-serif;
}

.faqbody .faqQ:hover {
  background: #ecf0f0;
}

.faqbody .faqQ .fa {
  font-size: 18px;
  font-weight: 900;
  transition: 0.3s transform ease-in-out;
}

.faqbody .faqQ .collapsed .fa {
  transform: rotate(180deg);
}

.faqbody .faqQ a {
  color: #3659a2;
  font-size: 18px;
  font-weight: 700;
}

.faqbody .card-body {
  color: #324353;
}

