main {
  padding-top: 70px;
  margin-bottom: 40px;
}

main .inscover {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 481px) {
  main .inscover {
    height: 280px;
  }
}

@media only screen and (min-width: 768px) {
  main .inscover {
    height: 310px;
  }
}

@media only screen and (min-width: 1280px) {
  main .inscover {
    height: 347px;
  }
}

main .blankdiv {
  height: auto;
  width: 100%;
  position: relative;
  background-color: #f9fafa;
  padding-top: 55px;
  padding-left: 10px;
  padding-bottom: 95px;
  /* .btnshare{
      position: relative;
      top: 30px;
      left: 90%;
      font-size: 18px;
      font-weight: normal;
      @include screensize(laptop){
       top: -25px;
       left: 95%;
       font-size: 20px;
       font-weight: 100;
    }
     }*/
}

main .blankdiv p {
  font-size: 15px;
}

@media only screen and (min-width: 481px) {
  main .blankdiv p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  main .blankdiv p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 481px) {
  main .blankdiv {
    height: 130px;
  }
}

@media only screen and (min-width: 768px) {
  main .blankdiv {
    height: 150px;
    padding-left: 60px;
    padding-top: 140px;
  }
}

@media only screen and (min-width: 1280px) {
  main .blankdiv {
    padding-top: 90px;
  }
}

main .blankdiv .insweb {
  background-color: #003585;
  color: white;
  font-size: 14px;
  width: 110px;
  margin-left: -20px;
}

@media only screen and (min-width: 481px) {
  main .blankdiv .insweb {
    width: 130px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  main .blankdiv .insweb {
    width: 157px;
    font-size: 18px;
    margin-left: -58px;
  }
}

@media only screen and (min-width: 1280px) {
  main .blankdiv .insweb {
    margin-left: -25px;
  }
}

main .blankdiv .insweb-available img {
  width: 15px;
  height: 15px;
}

main .blankdiv .insweb-available:hover {
  text-decoration: none;
}

main .blankdiv .phemdiv {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  main .blankdiv .phemdiv {
    display: block;
  }
}

main .logo-title {
  position: relative;
  top: -134px;
  left: -5px;
  margin-bottom: -120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 360px) {
  main .logo-title {
    top: -129px;
  }
}

@media only screen and (min-width: 481px) {
  main .logo-title {
    top: -137px;
  }
}

@media only screen and (min-width: 768px) {
  main .logo-title {
    top: -242px;
    left: -164px;
  }
}

@media only screen and (min-width: 1280px) {
  main .logo-title {
    top: -190px;
    left: -131px;
  }
}

main .logo-title .logoinstitute {
  width: 85px;
  height: 90px;
  border: 1px solid gainsboro;
  transition: all ease .5s;
}

@media only screen and (min-width: 481px) {
  main .logo-title .logoinstitute {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (min-width: 768px) {
  main .logo-title .logoinstitute {
    width: 140px;
    height: 140px;
    margin-left: 120px !important;
  }
}

main .logo-title .institle {
  font-size: 17px;
  margin-top: 50px;
  transition: all ease .5s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 360px) {
  main .logo-title .institle {
    font-size: 20px;
    margin-top: 45px;
  }
}

@media only screen and (min-width: 481px) {
  main .logo-title .institle {
    font-size: 21px;
  }
}

@media only screen and (min-width: 768px) {
  main .logo-title .institle {
    font-size: 32px;
    margin-top: 73px;
  }
}

@media only screen and (min-width: 1280px) {
  main .logo-title .institle {
    font-size: 34px;
  }
}

main .inssocial {
  position: relative;
  top: -70px;
  left: 63%;
  font-size: 15px;
  width: 115px;
  overflow-x: hidden;
}

main .inssocial img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 360px) {
  main .inssocial {
    left: 65%;
  }
}

@media only screen and (min-width: 481px) {
  main .inssocial {
    top: -66px;
    left: 75%;
  }

  main .inssocial img {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-width: 768px) {
  main .inssocial {
    top: -133px;
    left: 74%;
    font-size: 18px;
    width: 160px;
  }
}

@media only screen and (min-width: 1280px) {
  main .inssocial {
    top: -127px;
    left: 82%;
  }
}

main .faculty-request {
  position: relative;
  top: -124px;
  padding-left: 67%;
}

@media only screen and (min-width: 360px) {
  main .faculty-request {
    padding-left: 65%;
  }
}

@media only screen and (min-width: 481px) {
  main .faculty-request {
    padding-left: 74%;
  }
}

@media only screen and (min-width: 768px) {
  main .faculty-request {
    top: -167px;
    padding-left: 2%;
  }
}

@media only screen and (min-width: 1280px) {
  main .faculty-request {
    top: -83px;
    padding-left: 4%;
  }
}

main .faculty-request img {
  width: 16px;
  height: 16px;
}

main .share-button {
  top: -190px;
  left: 85%;
}

main .share-button .share-img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  main .share-button .share-img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 481px) {
  main .share-button {
    left: 87%;
  }
}

@media only screen and (min-width: 768px) {
  main .share-button {
    top: -160px;
    left: 18px;
  }
}

@media only screen and (min-width: 1280px) {
  main .share-button {
    top: -160px;
    left: 50px;
  }
}

main .inspills {
  margin-top: -75px;
}

@media only screen and (min-width: 481px) {
  main .inspills {
    margin-top: -80px;
  }
}

@media only screen and (min-width: 768px) {
  main .inspills {
    margin-top: -85px;
  }
}

main .inspills .nav-pills .nav-link {
  color: #011737;
}

main .inspills .nav-pills .active {
  background-color: #003585;
  color: white;
}

main .inspills .inscarou {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

main .inspills .inscarou ul li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
}

@media only screen and (min-width: 768px) {
  main .inspills .inscarou ul li {
    top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  main .inspills .inscarou {
    margin-bottom: 180px;
  }
}

main .inspills .inscarou img {
  width: 100%;
  height: 200px;
}

@media only screen and (min-width: 768px) {
  main .inspills .inscarou img {
    height: 400px;
  }
}

main .inspills .notice {
  background-color: #f5f9ff;
  align-items: center;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}

main .inspills .notice h5 {
  font-weight: 400;
  color: #003585;
}

main .inspills .notice hr {
  border-bottom: 2px solid #db3737;
}

main .inspills .notice p {
  color: black;
}

main .inspills .notice p::before {
  background-image: url("/images/arrow.svg");
  background-size: 10px 20px;
  display: inline-block;
  width: 10px;
  height: 15px;
  content: "";
}

main .inspills .facultyachieve .facultyachievecard {
  width: 200px;
  height: 250px;
}

main .inspills .facultyachieve .facultyachievecard img {
  width: 100%;
  height: 170px;
}

main .inspills .description {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main .inspills .description p {
  border-left: 10px solid #96e0b7;
  padding-left: 10px;
  color: #011737;
}

main .inspills h2 {
  color: #003585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

@media only screen and (min-width: 481px) {
  main .inspills h2 {
    font-size: 32px;
  }
}

main .inspills .princidiv {
  margin-top: 50px;
}

main .inspills .princidiv h3 {
  color: #003585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

@media only screen and (min-width: 481px) {
  main .inspills .princidiv h3 {
    font-size: 24px;
  }
}

main .inspills .princidiv img {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 481px) {
  main .inspills .princidiv img {
    height: 30px;
  }
}

main .inspills .princidiv .principalcard {
  text-align: center;
  color: #011737;
  border: none;
}

main .inspills .princidiv .principalcard p {
  color: #011737;
}

main .inspills .princidiv .principalcard img {
  width: 100%;
  height: 250px;
}

main .inspills .princidiv h6 {
  color: #003585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .inspills .insadditionalinfo p {
  font-size: 18px;
}

main .inspills .insadditionalinfo img {
  width: 18px;
  height: 18px;
}

main .inspills .facilitydiv p {
  font-size: 16px;
  color: #011737;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .inspills .facilitydiv p img {
  width: 16px;
  height: 16px;
}

