.imglogin-register {
  border-radius: 15px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/login-register.png");
}

.body-login-register {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 768px) {
  .body-login-register {
    max-width: 60%;
  }
}

.body-login-register input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
}

.body-login-register input::-moz-placeholder {
  color: #b1b1b1;
}

.body-login-register input:-ms-input-placeholder {
  color: #b1b1b1;
}

.body-login-register input::-ms-input-placeholder {
  color: #b1b1b1;
}

.body-login-register input::placeholder {
  color: #b1b1b1;
}

.body-login-register input:focus {
  box-shadow: none;
  border-bottom-color: #57b846;
}

.body-login-register label {
  color: #959595;
}

.body-login-register .remember-forget {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

@media only screen and (min-width: 1280px) {
  .body-login-register .remember-forget {
    margin-left: -45px !important;
  }
}

.body-login-register .remember-forget a {
  color: #6c757d;
}

.body-login-register .remember-forget a:hover {
  color: #57b846;
}

@media only screen and (min-width: 1280px) {
  .body-login-register .log-reg {
    margin-left: -5px !important;
  }
}

.body-login-register .log-reg .btnlogin {
  background-color: #57b846;
  color: white;
  border-radius: 25px;
  font-weight: 700;
}

.body-login-register .log-reg .btnlogin:hover {
  background-color: #6c757d;
}

.body-login-register .btnregister {
  background-color: #57b846;
  color: white;
  border-radius: 25px;
  font-weight: 700;
}

.body-login-register .btnregister:hover {
  background-color: #6c757d;
}

