.imgbanfaq {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/faq.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/faq.png");
}

.faqbody {
  margin-bottom: 70px;
  margin-top: 100px;
}

.faqbody .definition {
  position: relative;
  top: -50px;
  color: white;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3659a2), color-stop(#3259ae), color-stop(#3058b9), color-stop(#3157c4), to(#3456cf));
  background-image: linear-gradient(to bottom, #3659a2, #3259ae, #3058b9, #3157c4, #3456cf);
}

@media only screen and (min-width: 768px) {
  .faqbody .definition {
    left: 25px;
  }
}

.faqbody .accordion {
  background: #f9fafa;
  font-family: "Roboto", sans-serif;
  color: #3659a2;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  padding: 7px;
  border: 1px solid #eceded;
  text-align: left;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.faqbody .accordion:focus {
  outline: none !important;
}

.faqbody .accordion:hover {
  background: #ecf0f0;
}

.faqbody .accordion::after {
  content: '\002B';
  font-size: 20px;
  font-weight: 700;
  float: right;
}

.faqbody .active {
  background: #ecf0f0;
}

.faqbody .active::after {
  content: '\2212';
  font-size: 20px;
  font-weight: bolder;
}

.faqbody .panel {
  color: #324353;
  text-align: left;
  margin-top: -5px;
  border: 1px solid #eceded;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
  overflow: hidden;
}
