.imglogin-register {
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/login-register.png");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/login-register.png");
}

.body-login-register input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
}

.body-login-register input::-webkit-input-placeholder {
  color: #b1b1b1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-login-register input:-ms-input-placeholder {
  color: #b1b1b1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-login-register input::-ms-input-placeholder {
  color: #b1b1b1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-login-register input::placeholder {
  color: #b1b1b1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-login-register input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-color: #4BB543;
}

.body-login-register label {
  color: #b1b1b1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
