.mainheader {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#011737), color-stop(#002847), color-stop(#003954), color-stop(#004a5f), to(#005b67));
  background-image: linear-gradient(to right top, #011737, #002847, #003954, #004a5f, #005b67);
  font-size: 30px;
  padding-top: 220px;
  padding-bottom: 25px;
  text-align: center;
  color: white;
}

.ptbody {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .ptbody {
    margin-top: 100px;
  }
}

.ptbody .mainbody {
  background-color: white;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
