.profileheader {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#990066), color-stop(#831874), color-stop(#67267f), color-stop(#442f85), to(#003585));
  background-image: linear-gradient(to right top, #990066, #831874, #67267f, #442f85, #003585);
  height: 250px;
  max-width: 100%;
}

.profile {
  max-width: 100%;
}

.profile .profile-picture {
  position: relative;
  top: -180px;
  left: 17px;
  border: 2px solid gainsboro;
}

.profile img {
  width: 170px;
  height: 170px;
}

@media only screen and (min-width: 768px) {
  .profile img {
    width: 200px;
    height: 200px;
  }
}

.profile .profile-edit {
  position: relative;
  left: -12%;
  top: -113px;
  z-index: inherit;
  cursor: pointer;
  background-color: gainsboro;
}

@media only screen and (min-width: 481px) {
  .profile .profile-edit {
    left: -8%;
  }
}

@media only screen and (min-width: 768px) {
  .profile .profile-edit {
    left: -7%;
    top: -105px;
  }
}

.profile .upload-profile-pic {
  position: relative;
  top: -153px;
}

.profile .edit-btn {
  color: #6fb604;
}

.profile .username {
  margin-top: -160px;
  font-size: 18px;
}

.profile .btnsubmit {
  background-color: #003585;
  color: white;
  position: relative;
  top: 5px;
  left: 0;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile .btnsubmit:hover {
  background-color: #011737;
  color: white;
}

.profile .address .address-display {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .profile .address .address-display {
    font-size: 16px;
  }
}

.profile .btnsubjects {
  background-color: #5B2C6F;
  color: white;
}

.profile .channelname select {
  background-color: #f9fafa;
  width: 100%;
}

.profile .channelname select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.profile .channelname input {
  border: 0;
  border-bottom: 1px solid gainsboro;
  width: 100%;
}

.profile .channelname input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.profile .channelname input::-webkit-input-placeholder {
  color: #a5a5a5;
}

.profile .channelname input:-ms-input-placeholder {
  color: #a5a5a5;
}

.profile .channelname input::-ms-input-placeholder {
  color: #a5a5a5;
}

.profile .channelname input::placeholder {
  color: #a5a5a5;
}
